.post{
    padding: 20px;
    text-align: center;
}

.post .post-title{
    display: flex;
    justify-content:center;
}
.post .post-title h1{
    width :70%;
    font-family: "Gilda Display", serif;
}

.post .post-imag{
    margin: 7px 0;
}

.post .post-content{
    padding: 11px;
}